@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  /* ZUS Colors */
  --zus-black: rgb(0, 0, 0);
  --zus-green: rgb(0, 120, 52);
  --zus-white: rgb(255, 255, 255);
  --zus-dark-green: rgb(17, 120, 59);
  --zus-light-gray: rgb(239, 239, 239);

  /* zus colors ze specyfikacji */
  --zus-yellow: rgb(255, 179, 79);
  --zus-green: rgb(0, 153, 63);
  --zus-gray: rgb(190, 195, 206);
  --zus-blue: rgb(63, 132, 210);
  --zus-blue-dark: rgb(0, 65, 110);
  --zus-red: rgb(240, 94, 94);
 --zus-black: rgb(0, 0, 0);
  --zus-white: rgb(255, 255, 255);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  /* ZUS Color Theme */
  --color-zus-black: var(--zus-black);
  --color-zus-green: var(--zus-green);
  --color-zus-white: var(--zus-white);
  --color-zus-dark-green: var(--zus-dark-green);
  --color-zus-light-gray: var(--zus-light-gray);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
     font-family: "Lato Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
